<md-dialog flex="50" aria-label="Add a Tutoring Offer">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Offer</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <md-input-container flex>
                        <label>Days of Weeks</label>
                        <md-select ng-model="selectedDays" multiple>
                            <md-option ng-value="day.id" ng-repeat="day in days">{{day.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Class Category</label>
                        <md-select ng-model="selectedCategory">
                            <md-option ng-value="c.id" ng-repeat="c in categories">{{c.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Select Class</label>
                        <md-select ng-model="selectedClass">
                            <md-option ng-value="c.id" ng-repeat="c in classes | filter: {category: selectedCategory} ">{{c.name}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="answer(0)">
                Cancel
            </md-button>
            <md-button ng-click="answer(1)">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

